<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/daygoal.css">
    </head>
    <body>
        <div class="drag-bar"></div>

        <div class="app">
            <div class="timer-area">
                <div id="start-screen">
                    <button onclick="setMode('MINI')">Mini</button>
                    <button onclick="setMode('TIMER')">Timer</button>
                    <button onclick="setMode('FULL')">Full</button>
                    <!-- <input id="task" placeholder="지금 무엇에 집중하실 건가요?" /> -->
                </div>
                <div id="current-task"></div>
                
                <canvas id="clock" width="300" height="300"></canvas>
                
                <div id="controls">
                    <button id="startBtn">Start</button>
                    <button id="pauseBtn">Pause</button>
                    <button id="stopBtn">Finish</button>
                </div>
            </div>
            <div class="side-panel">
                <div class="goal-section">
                    <input id="taskInput" placeholder="목표 추가" />
                    <button id="addTaskBtn">추가</button>
    
                    <ul id="taskList"></ul>
                </div>
                <div class="history-section">
                    <h3>완료 기록</h3>
                    <div id="history-list"></div>
                </div>
            </div>
        </div>

        <script type="module" src="app.js"></script>
    </body>
</html>